<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<th:block th:fragment="footer">
    <footer class="text-center footer navbar-inverse navbar-fixed-bottom">
        <p class="text-muted">© 2018 koryl.github.io</p>
    </footer>
    <script type="text/javascript" src="webjars/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/popper.js/1.14.1/umd/popper.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</th:block>
</body>
</html>