<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="head">
        <title>Pro-Library</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../static/css/main.css" th:href="@{/css/main.css}">

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </th:block>
</head>
<body>
<div th:fragment="header">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark border-bottom box-shadow">
            <a class="navbar-brand" th:href="@{/library}">Pro-Library</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/library}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/library/books}">Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/library/account}">My Account</a>
                    </li>
                </ul>
                <form th:action="@{/library/books/search}" method="post" class="form-inline mt-2 mt-md-0 mr-1">
                    <input class="form-control mr-sm-2" th:name="'bookName'" th:value="*{bookName}" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search for books</button>
                </form>
                <form th:action="@{/logout}" method="get" class="form-inline mt-2 mt-md-0 ml-1">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Out</button>
                </form>
            </div>
        </nav>
    </header>
</div>
</body>
</html>