<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/header :: head"/>
</head>

<body>

<th:block th:replace="fragments/header :: header"/>

<main role="main" class="container">
    <h1 class="mt-5">Books Repository</h1>


    <div class="container">
        <div class="card-columns">
            <div class="card" th:each="book: ${allBooks}">
                <th:block th:if="${book.getBookCover() == null}">
                    <img class="card-img-top img-fluid"
                         alt="Book Cover" style="height: 225px; width: 100%; display: block;"
                         th:src="@{/img/book-2111602_640.jpg}"
                         data-holder-rendered="true">
                </th:block>
                <th:block th:if="${book.getBookCover() != null}">
                    <img class="card-img-top img-fluid"
                         alt="Book Cover" style="height: 225px; width: 100%; display: block;"
                         th:src="@{${'/img/' + book.getBookCover()}}"
                         data-holder-rendered="true">
                </th:block>
                <div class="card-body">
                    <h2 class="card-title h2" th:text="${book.getBookName()}">Book Name</h2>
                    <h3 class="card-subtitle h3" th:text="${book.getBookAuthor()}">Book Author</h3>
                    <p class="card-text" th:text="${book.getBookDescription()}">Book Description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-primary" th:href="@{${'/library/books/' + book.getId()}}" role="button">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>