<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/header :: head"/>
</head>

<body>

<th:block th:replace="fragments/header :: header"/>

<main role="main" class="container h-100">
    <div class="mt-5 md-5">
        <h1 class="p-3 m-2 display-4">Welcome to Pro-Library</h1>
    </div>

    <div class="p-4 m-3">
        <h2 class="h2">Borrowed Books</h2>
    </div>

    <div>
        <table class="table table-hover">
            <thead>
            <tr class="justify-content-center align-items-center">
                <th scope="col">#</th>
                <th scope="col">Author</th>
                <th scope="col">Title</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody th:each="book,iterator : ${user.getBorrowedBooks()}">
            <tr class="justify-content-center align-items-center">
                <th class="p-4 m-5" scope="row" th:text="${iterator.index + 1}">?</th>
                <td class="p-4 m-5" th:text="${book.getBookAuthor()}">Author</td>
                <td class="p-4 m-5" th:text="${book.getBookName()}">Title</td>
                <td class="p-4 m-5 justify-content-center align-items-center text-center">
                    <a class="btn btn-primary" th:href="@{${'/library/books/' + book.getId()}}" role="button">View</a>
                    <a class="btn btn-primary" th:href="@{${'/library/books/' + book.getId() + '/return'}}" role="button">Return</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>