<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/header :: head"/>
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">
</head>

<body class="text-center">


<form th:action="@{/login}" method="post" class="form-signin">
    <h1 class="h1 font-weight-bold font-italic">Pro-Library</h1>
    <h3 class="h3 mb-3 font-weight-normal">Please sign in</h3>
    <div th:if="${param.error}">
        <div class="alert alert-danger">
            Invalid username or password.
        </div>
    </div>
    <div th:if="${param.logout}">
        <div class="alert alert-info">
            You have been logged out.
        </div>
    </div>
    <div class="form-group">
        <label for="username" class="sr-only">Email address</label>
        <input type="email" id="username" name="username" class="form-control" placeholder="Username" required=""
               autofocus="">
    </div>
    <div class="form-group">
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
    </div>
    <div class="form-group">
        <div class="row align-content-center">
            <input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-info" value="Log In">
        </div>
    </div>
    <div class="form-group">
        <span>New user? <a href="/" th:href="@{/registration}">Register here</a></span>
    </div>
</form>

<th:block th:replace="fragments/footer :: footer"/>
</body>

</html>