<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Pro-Library</title>
    <div th:replace="fragments/header :: header-head"></div>
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/main.css}">

</head>

<body class="text-center">
<form class="form-signin">
    <h1>Welcome in Pro-Library app!</h1>
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="email" class="sr-only">Email address</label>
    <input type="email" id="email" class="form-control" placeholder="Email address" required="" autofocus="">
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" class="form-control" placeholder="Password" required="">
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>

<div th:replace="fragments/footer :: footer"></div>
</body>

</html>