<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
<div th:replace="fragments/header :: head" th:remove="tag"></div>

<div th:replace="fragments/header :: header"></div>

<main role="main" class="container">
    <h1 class="mt-5">My Account</h1>
    <p class="lead">Here are details of account</p>
</main>

<footer class="footer navbar-inverse navbar-fixed-bottom text-center">
    <div class="container">
        <span class="text-muted">@ koryl.github.io 2018</span>
    </div>
</footer>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>