<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/header :: head"/>
</head>

<body>

<th:block th:replace="fragments/header :: header"/>

<main role="main" class="container">
    <div class="mt-5 md-3 p-3">
        <h1 class="display-2">My Account</h1>
    </div>

    <table class="table table-striped table-bordered lead">
        <tr>
            <th scope="row">First Name</td>
            <td th:text="${user.getFirstName()}">First Name</td>
        </tr>
        <tr>
            <th scope="row">Last Name</td>
            <td th:text="${user.getLastName()}">Last Name</td>
        </tr>
        <tr>
            <th scope="row">Email</td>
            <td th:text="${user.getEmail()}">Email</td>
        </tr>
    </table>
</main>

<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>